<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
  <meta name="author" content="GeeksLabs">
  <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
  <link rel="shortcut icon" href="img/favicon.png">

  <title>Form Validation | Creative - Bootstrap 3 Responsive Admin Template</title>

  <!-- Bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- bootstrap theme -->
  <link href="css/bootstrap-theme.css" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="css/elegant-icons-style.css" rel="stylesheet" />
  <link href="css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet" />

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
  <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->

    <!-- =======================================================
      Theme Name: NiceAdmin
      Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
  <!-- container section start -->
  <section id="container" class="">
    <!--header start-->
    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
      </div>

      <!--logo start-->
      <a href="index.html" class="logo">Rate <span class="lite">My Room</span></a>
      <!--logo end-->
      <div class="top-nav notification-row">

      </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li class="active">
            <a class="" href="/">
              <i class="icon_house_alt"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a class="" href="rate-room.erb">
              <i class="fa fa-building-o"></i>
              <span>Rate A Room</span>
            </a>
          </li>
          <li>
            <a class="" href="find-room.erb">
              <i class="icon_genius"></i>
              <span>Find a Room</span>
            </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
              <i class="icon_documents_alt"></i>
              <span>Dorms</span>
              <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
              <li><a class="" href="reviews.erb">Burton</a></li>
              <li><a class="" href="login.erb"><span>Cassatt</span></a></li>
              <li><a class="" href="contact.erb"><span>Davis</span></a></li>
              <li><a class="" href="blank.erb">Musser</a></li>
              <li><a class="" href="404.erb">Watson</a></li>
            </ul>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-building-o"></i> Rate A Room</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
              <li><i class="fa fa-building-o"></i>Rate A Room</li>
            </ol>
          </div>
        </div>
        <!-- Form validations -->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                Tell us about your room!
              </header>
              <div class="panel-body">
                <div class="form">
                  <form class="form-validate form-horizontal" id="feedback_form" method="get" action="">
                    <div class="form-group ">
                      <label for="building" class="control-label col-lg-2">Building <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <select class="form-control" id="building">
                          <option selected>--</option>
                          <option>Allen House</option>
                          <option>Benton House</option>
                          <option>Berg House</option>
                          <option>Bird House</option>
                          <option>Brooks House</option>
                          <option>Burton Hall</option>
                          <option>Cassat Hall</option>
                          <option>Chaney House</option>
                          <option>Clader House</option>
                          <option>Collier House</option>
                          <option>Colwell House</option>
                          <option>Dacie Moses House</option>
                          <option>Davis Hall</option>
                          <option>Dixon House</option>
                          <option>Douglas House</option>
                          <option>Dow House</option>
                          <option>Eugster House</option>
                          <option>Evans Hall</option>
                          <option>Faculty Club</option>
                          <option>Farm House</option>
                          <option>Geffert House</option>
                          <option>Goodhue Hall</option>
                          <option>Hall House</option>
                          <option>Henrickson House</option>
                          <option>Henry House</option>
                          <option>Hoppin House</option>
                          <option>Hunt Cottage</option>
                          <option>Hunt House</option>
                          <option>Huntington House</option>
                          <option>James Hall</option>
                          <option>Jewett House</option>
                          <option>Johnson House</option>
                          <option>Laird Hall</option>
                          <option>Lance Hall</option>
                          <option>Leighton Hall</option>
                          <option>Musser Hall</option>
                          <option>Myers Hall</option>
                          <option>Nason House</option>
                          <option>Northfield Option</option>
                          <option>Nourse Hall</option>
                          <option>Nutting House</option>
                          <option>Olin Hall</option>
                          <option>Owens House</option>
                          <option>Page House East</option>
                          <option>Page House West</option>
                          <option>Parish House</option>
                          <option>Parr House</option>
                          <option>Prentice House</option>
                          <option>Rice House</option>
                          <option>Scott House</option>
                          <option>Scoville Hall</option>
                          <option>Severance Hall</option>
                          <option>Stimson House</option>
                          <option>Strong House</option>
                          <option>Wade House</option>
                          <option>Watson Hall</option>
                          <option>Williams House</option>
                          <option>Willis Hall</option>
                          <option>Wilson House</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="floor" class="control-label col-lg-2">Floor <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <select class="form-control" id="floor">
                          <option selected>--</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="room" class="control-label col-lg-2">Room <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input class="form-control " id="room" required />
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="comments" class="control-label col-lg-2">Comments</label>
                      <div class="col-lg-10">
                        <textarea class="form-control " id="comments" required></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-default" type="button">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </section>
          </div>
        </div>
        <!-- page end-->
      </section>
    </section>
    <!--main content end-->
    <div class="text-right">
      <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
          -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
  </section>
  <!-- container section end -->

  <!-- javascripts -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- nice scroll -->
  <script src="js/jquery.scrollTo.min.js"></script>
  <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
  <!-- jquery validate js -->
  <script type="text/javascript" src="js/jquery.validate.min.js"></script>

  <!-- custom form validation script for this page-->
  <script src="js/form-validation-script.js"></script>
  <!--custome script for all page-->
  <script src="js/scripts.js"></script>


</body>

</html>
